/* CSS Document */
<style type = "text/css" >
<!--
.pop {font-size: 22px; color: #7F3FFF}
.pop {font-size: 22px; color: #7FBFFF}
#none 
{
background: bottom #557FFF;
padding:1em;
}
-->
</style>
